body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  
  background: url('./images/ss.jpg');
}
.rowbg{
 
  background: url('./images/w15.jpg');
  width: 770px;
  height: 500px;
  margin: -150px;
}
.colbg{
  display: flex;
  flex-direction: column;
font-weight:bolder;
   
  padding-top: 45px;
  font-size: 25px;
 

}

.weather{
 
  width: 10px;
height:500px;


}

.app {
  text-align: center;
  box-shadow: 0 2px 10px rgba(228, 223, 223, 0.53);
  width:385px;
  height: 500px;
  background-color: #66bddc;
  
} 

.dark-mode {
  background-color: #131111;
  color: #ffffff;
}

.weather-card {
  background-color: 0 2px 10px rgba(32, 30, 30, 0.803);
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(228, 223, 223, 0.53);
  margin: 20px;
  
  
  
}

.weather-card h1 {
  margin: 0;
 
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  
}

header input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size:medium;
 
}

header button {
  padding: 10px;
  margin-top: 25px;
 font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

.dark-mode header button {
  background-color: #444;
  color: #fff;
}